*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}



.contenedor{    
    background-image: url("./image/mapa.jpg");
    background-size: cover;
    background-color: #004297;
    background-blend-mode:soft-light;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

}

.titulo{
    color:white;
    font-weight: 400;
    font-size: 2.5rem;
}

.ingreso{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    width: 50%;
    background-color: white;
    color:rgb(36, 36, 36);
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.ingreso input{
    width: 30%;
    padding: 1rem;
    border-radius: 10px 0 0 10px;
    border: none;
    border-right: 1px solid rgba(39, 39, 39, 0.5);
}
.ingreso select{
    width: 30%;
    border: none;
}

.ingreso button{
    color:white;
    box-shadow: 0 0 2px rgb(39, 39, 39);
    width: 50px;
    background-color: rgb(39, 39, 39);
    
    border-radius: 0 9px 9px 0;
    border: none ;
    font-size: 20px; 
}

.muestra{
    position: relative;
    width: 60vw;
    background-color: white;
    color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(39, 39, 39);
    z-index: 1;


}

.muestra div{
    width: 33%;
    margin: 1rem 0;
    padding:0 1rem;
    border-left: 1px solid rgba(39, 39, 39, 0.5);
}

.muestra label{
    color:rgb(97, 97, 97);
}

.muestra p{
    color: black;
    font-size: 2rem;
    font-weight: 600;
}


.muestra .muestra-tiempo{
    border-left:none ;
}

#map{
    height: 70vh;
    width: 100%;
}


#alert{
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: -100px;
    left: 20px;
    width: 60%;
    background-color: #fd0000;
    color: white;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    font-size: 1.3rem;
}

@media (max-width:600px)
{
    .ingreso{
        width: 95%;
        flex-wrap: flex-wrap;
    }
    .ingreso input{
        width: 50%;
    }
    .muestra{
        flex-direction: column;
        font-size: 1rem;
    
        
    }
}
